.fc-content{
  text-align: center;
  
}

a{
  text-decoration: none;
}

button>a{
  color:#000;
}

.ratio-6x9 {
  --bs-aspect-ratio: 150%; 
}

div>ul>li>ul>li>a:hover{
  background: #555555 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

li { display: list-item; }

.homeList {
  list-style-type: none !important;
    list-style: none !important;
    margin-bottom: 1rem;
    text-align: center;
}

.homeList i {
    font-size: 1.5rem;
    color: #198754;
}

.homeList>a, span>a{
  color: rgb(194, 194, 194);
}

.homeList>span{
  font-size: large;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.img-decorativa1 {
    position: absolute;
    top: 25%;    
    right: 15%;
    transform: rotate(15deg);
    opacity: 0.8;
    pointer-events: none;
    z-index: 1;
}

.img-decorativa2 {
    position: absolute;
    top: 10%;    
    left: 10%;
    transform: rotate(-15deg);
    opacity: 0.8;
    pointer-events: none;
    z-index: 1;
}

@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid #dee2e6 !important;
    }
    
}

@media(max-width:1415px){
  .img-decorativa1{
    opacity:0;
  }
}

@media(max-width:1041px){
  .img-decorativa2{
    opacity:0;
  }
}

@media(max-width:768px){
.ratio-6x9{
      max-width: 20%;
    }
}